<table class="table table-hover">
  <thead>
  	<tr>
  		<th></th>
	  	<th>NAME</th>
	  	<th>DESCRIPTION</th>
        <th>AVAILABILITY</th>
	  	<th>CANNON</th>
	  	<th>PICK-UP</th>
	  	<th>DROP-OFF</th>
	  	<th>SEATS</th>
	  	<th>MAX ACCELERATION</th>
	  	<th>ATMOSPHERIC SPEED</th>
  	</tr>
  </thead>
  <tbody >
  	<tr >
  		<td><img class="spaceship__image" src="../../assets/{{item.img}}" alt=""></td>
  		<td>{{item.name}}</td>
  		<td>{{item.desc}}</td>
      <td>{{item.availability}}</td>
  		<td>{{item.cannon}}</td>
  		<td>{{item.pickup}}</td>
  		<td>{{item.dropoff}}</td>
  		<td>{{item.seats}}</td>
  		<td>{{item.maxAcc}}</td>
  		<td>{{item.atmosphericSpeed}}</td>
  	</tr>
  </tbody>
</table>
